{include file="common/head" /}
{include file="common/side" /}
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <nav class=" navbar navbar-expand bg-white navbar-light border-bottom" style="z-index: 1">
                        <form class="form-inline ml-3" action="" method="post">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" name="title" placeholder="荣誉名称" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </nav>
                    <!-- /.card-header -->
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>荣誉名称</th>
                            <th>获得时间</th>
                            <th>图片</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        {volist name="info" id="vo"}
                        <tr>
                            <td>{$vo.name}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.time}</td>
                            <td><img src="{$vo.pic}" style="width: 50px;height: 50px;"></td>
                            <td>
                                <a href="javascript:;" class="btn btn-sm btn-default" onClick='layer_show("修改","{:url('update',"id=$vo[id]")}")'>编辑</a>
                                <a href="javascript:;" class="btn btn-sm btn-danger" onclick='confirmDel("{:url('del',"id=$vo[id]")}")'>删除</a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <div class="pagelist" style="width: 40%;margin: 0 auto"> {$page}</div>
</div>

{include file="common/foot" /}