{include file="common/head" /}
{include file="common/side" /}
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <nav class=" navbar navbar-expand bg-white navbar-light border-bottom" style="z-index: 1">
                        <form class="form-inline ml-3" action="" method="post">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="标签" name="title" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <select class="form-control col-md-4" name="recommend">
                                <option value="">推荐与否</option>
                                <option value="1">是</option>
                                <option value="2">否</option>
                            </select>
                            <input type="submit" value="搜索" class="btn btn-success" style="line-height:1.5">-
                            <button type="button" class="btn btn-block btn-outline-success btn-sm col-md-1" onClick='layer_show("新增","{:url('create')}")'>新增</button>
                        </form>


                    </nav>
                    <!-- /.card-header -->
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>标签</th>
                            <th>推荐</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        {volist name="info" id="vo"}
                        <tr>
                            <td>
                                <?php
                                 $explam = function($uid = 22){
                                        $userInfo = db('user')->field('id,name')->where('id=0'.$uid)->find();
                                        if($userInfo){
                                            echo $userInfo['name'];
                                        }else{
                                            echo "/";
                                        }
                                    };
                                 $explam($vo['user_id']);

                                ?>
                            </td>
                            <td>{$vo.title}</td>
                            <td>{if condition="$vo['recommend'] eq 1"}<p class="text-info">是</p>{else/}<p class="text-warning">否</p>{/if}</td>
                            <td>
                                <a href="javascript:;" class="btn btn-sm btn-default" onClick='layer_show("修改","{:url('update',"id=$vo[id]")}")'>编辑</a>
                                <a href="javascript:;" class="btn btn-sm btn-danger" onclick='confirmDel("{:url('del',"id=$vo[id]")}")'>删除</a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <div class="pagelist" style="width: 40%;margin: 0 auto"> {$page}</div>
</div>

{include file="common/foot" /}