{include file="common/head" /}
{include file="common/side" /}
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <nav class=" navbar navbar-expand bg-white navbar-light border-bottom" style="z-index: 1">
                        <form class="form-inline ml-3">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <a href="javascript:;" class="btn btn-sm btn-success" style="float: right" onClick='layer_show("新增","{:url('create')}")'>新增</a>
                    </nav>
                    <!-- /.card-header -->
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>头像</th>
                            <th>添加时间</th>
                            <th>性别</th>
                            <th>手机</th>
                            <th>推荐</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        {volist name="info" id="vo"}
                        <tr>
                            <td>{$vo.name}</td>
                            <td><img src="{$vo.avatar}" style="width: 50px;height: 50px;"></td>
                            <td>{$vo.create_time}</td>
                            <td>
                                {if condition=" $vo['sex'] eq 10"}男
                                {elseif condition=" $vo['sex'] eq 20" /}女
                                {else /}未知
                                {/if}
                            </td>
                            <td>{$vo.phone}</td>
                            <td>{if condition="$vo.recommend eq 1"}是{else/}否{/if}</td>
                            <td>
                                <a href="javascript:;" class="btn btn-sm btn-primary" onClick='layer_show("修改","{:url('update_password',"id=$vo[id]")}")'>修改密码</a>
                                <a href="javascript:;" class="btn btn-sm btn-default" onClick='layer_show("修改","{:url('update',"id=$vo[id]")}")'>编辑</a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>

{include file="common/foot" /}